#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  color: #fff;
  font-size: 1.5rem;
  margin: 5px;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 16px;
}
a:hover {
  background-color: #eee;
  color: #12e9a8;
}

.error {
  color: rgb(255, 0, 0);
}
